/*
css gradients:
https://css-tricks.com/css3-gradients/
*/
body {
	font-family: arial,sans serif;
	background-color: red;
	background-image:
    linear-gradient(
      to left, 
      red,black,black,black, red
    );
}

h1 {
	color: #c0c0c0;
	font-size: 1.8em;
}

h2 {
	color: #c0c0c0;
	font-size: 1.4em;
	margin-top: 50px;
}


h3 {
	color: #c0c0c0;
	font-size: 1.0em;
	margin-top: 10px;
}
p {
/* 	width: 600px; */
/* 	margin-left:50px; */
}
.thumbs p{
	width: 600px;
}
img {
	border: 1px solid #BB2B87;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #BB2B87;
}
.coloredlink {
	color: #BB2B87;
}
ul.nav
{
    text-align:right;
}
div.menubar{
	border-bottom: 1px solid #840c0c;
}
div.menubar ul{
	width: 100%;
	padding-inline-start: 0px;
}
div.menubar li {
	display: inline;
	list-style-type: none;
/* 	padding-left: 35px; */
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 20px;
}
li.hilight {
	font-weight: bold;
}
.inlineimages {
    margin-left:50px;
	display: block;
	height: 233px;
}
.inlineimage {
	float: left;
	text-align: center;
	width: 260px;
	height: 230px;
}
.navbullet
{
    border:0px;
    vertical-align:middle;
    margin-right:5px;
}
