

#display{
	display: inline-block;
    border: 1px solid black;
    height: 900px;
    min-height: 900px;
    width: 700px;
    max-width: 700px;
    vertical-align: top;
}
#imagemap-container{
    display: inline-block;
    border: 1px solid red;	
}
