<html>
<title>MIJE</title>
<head>
<meta name="keywords" content="{CMS_KEYWORDS}">
<meta name="description" content="{CMS_DESCRIPTION}">
<meta name="author" content="{CMS_AUTHOR}">
<script type="text/javascript" language="javascript" src="/script/mije.js"></script>
<script type="text/javascript" src="/script/edit.js"></script>
<link rel="stylesheet" href="/styles/mije.css" type=text/css>
<script type="text/javascript">
//dynamically generated array for javascript nav:
{CMS_JSNAVARRAY}
</script>
</head>
<body>
<div class="logo">
  <a href="/"><img src="/images/mije_logo_small_noborder.gif" border="0" alt="Web design and build"></a>
</div>
<div class="banner">
  <p>{CMS_EDITLINK}</p>
</div>

<div class="lhnav">
  <script language="javascript">
    document.write(getLHNav("{CMS_CURRFILE}"));
  </script>
</div>

<div class="content">
THIS IS TEST LAYOUT 2 - FROM defaults.cfg IN DIRECTORY...
{CMS_CONTENT1}
</div>

</body>
</html>
